doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
body
  // Section #1
  section
    h1 WEBPACK 5
  section
    h2 Config File
  section
    figure
      picture
        img(src='./images/buildings-5582974_640.jpg', alt='photo 1')
        figure
      picture
        img(src='./images/building-5523630_640.jpg', alt='photo 2')
    form(action='')
      input#check(type='checkbox', name='check')
      label(for='check') CHECK